#nav {
    background-color: #18262f;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    font-family: "Kanit", serif !important;
}

.nav-item a, .nav-link {
    color: white !important;
    text-decoration: none !important;
}

.nav-item a:hover{
    color:lightgray !important;
}

.navbar button {
    margin-top: -0.5rem !important;
    background-color: #0096D6 !important;
    color: white !important;
    /*border: 1px solid black !important;*/
    transition: 0.3s;
}

.navbar button:hover {
    box-shadow: rgba(255, 255, 255, 0.301) 4px 4px 4px;
    margin-left: -4px;
    margin-right: 4px;
    margin-top: -12px !important;
    margin-bottom: 4px;
    transition: 0.3s;
}

.brand-logo{
    height: 50px;
    margin-left: 1rem;
}

.nav-item{
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.nav-link{
    display:inline !important;
    padding-bottom: 0 !important;
}

.navbar-text{
    color: white !important;
    font-size: larger;
}

ul.dropdown-menu {
    background-color: #18262f;
    margin-top: 0.5rem !important;
    border: 0;
}

hr.dropdown-divider {
    border: white 1px solid;
}

.dropdown-menu li {
    margin: 0 0.5rem;
}

a.dropdown-item {
    color: white;
    width: 100%;
}

.nav-link.dropdown-toggle:hover {
    color: lightgray !important;
}
  
.dropdown-item:active {
background-color: white !important;
color: #18262f !important;
}

.dd-m.show .dropdown-item:hover {
    background-color: #0096D6 !important;
}

@media (max-width: 990px){
    .navbar-nav {
        float: right !important;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-nav {
        display: inline-block;
        float: none;
    }
    .nav-item{
        margin-top: 0.5rem !important;
        text-align: start;
    }

    ul.dropdown-menu {
        margin-top: 0rem !important;
    }
    
    .nav-link.dropdown-toggle {
        text-align: start;
    }

    .dropdown-menu li {
        margin: 0;
    }

    .navbar-nav button.btn {
        width: 100% !important;
    }

    .navbar-nav {
        width: 15rem;
    }
}