.form-group {
  margin-bottom: 1rem;
}

#newad-form .form-control, #newad-form .form-select {
  width: 100%;
  font-size: larger !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus, .form-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

#newad-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  background-color: white;
  border: 2px solid black;
  padding: 2rem;
  box-shadow: -30px 30px 50px -12px rgba(0,0,0,0.75);
  font-family: "Kanit", serif !important;
}

#newad-form button{
  background-color: red !important;
  color: white;
  border: 2px solid black;
  border-radius: 0.5rem;
  font-size: larger;
  margin-left: 4rem;
  height: 2.5rem;
  padding-top: 0;
  transition: 0.5s;
}

#newad-form button:hover{
  box-shadow: 6px 6px 12px -5px rgba(0,0,0,0.75);
  transition: 0.5s;
}

#newad-form input, #newad-form select{
  height: 2.5rem !important;
}

#newad-form input, #newad-form select, #newad-form textarea{
  border: 2px solid black !important;
  border-radius: 0.2rem !important;
}

#newad-form #brand{
  padding: 0;
  border: 2px solid black;
}

#newad-form .ts-wrapper{
  width: 100% !important;
}

#newad-form .ts-wrapper, #newad-form .ts-control{
  height: 2.5rem !important;
  background-color: none !important;
}

#newad-form #brand-ts-control, #newad-form #type-ts-control, #newad-form #color-ts-control{
  margin-top: -0.5rem !important;
  border: none !important;
}

#newad-form .ts-control .item {
  padding: 0 !important;
  font-size: larger !important;
  margin-top: -0.1rem !important;
}

#newad-form h4 {
  text-align: left;
}

hr {
  border: none;
  height: 2px;
  color: black !important;
  background-color: black !important;
}

#newad-form .input-group {
  height: 2.5rem !important;
  width: 100% !important;
  font-size: larger;
}

#newad-form .input-group input{
  border: none !important;
  border-right: 2px solid black !important;
  height: 2.25rem !important;
  border-radius: 0.2rem 0 0 0.2rem !important;
  text-align: right !important;
  width: 80% !important;
}

#newad-form .input-group-append {
  margin-left: 0.2rem !important;
  margin-right: 0.2rem;
  font-weight: bold;
  font-size: large;
  margin: auto !important;
}

@media (max-width: 860px) {
  #newad-form .input-group input {
    width: 65% !important;
  }
}

@media (max-width: 990px) {
  #newad-form {
    width: 90% !important;
  }
}

@media (max-width: 1300px) {
  #newad-form {
    width: 75%;
  }

  #newad-form .input-group input {
    width: 75%;
  }
}