#home-search{
    background-image: url('../Images/homebg_big.jpg');
    background-position-y: 40%;
    background-position-x: 50%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0 10rem 0;
    font-family: "Kanit", serif !important;
    margin-bottom: 5rem;
    box-shadow: 0px -40px 30px -30px rgb(0, 0, 0) inset,
        0px 40px 30px -30px rgb(0, 0, 0) inset;
}

.number{
    font-family: 'Courier New', Courier, monospace;
}

.welcome-h1{
    font-family: "Kanit", serif !important;
}

#home-search-form input, #home-search-form select, #side-search-form input, #side-search-form select {
    border: 2px solid black;
    border-radius: 0.2rem;
    height: 2rem;
}

#home-search-form select, #side-search-form select {
    padding-top: 0 !important;
    font-size: large;
    padding-right: 0.2rem !important;
    width: 8rem;
}

.sm-input-f, .sm-input {
    width: 3rem !important;
}

.sm-input-f2, .sm-input2 {
    width: 5.5rem !important;
}

.sm-input-f3, .sm-input3 {
    width: 5rem !important;
}

.f-s-sm{
    width: 5.2rem !important;
}

.f-s-m{
    width: 6rem !important;
}

.sm-input-f, .sm-input-f2, .input-groups .input-group-f, .form-select-f {
    margin-right: 1rem;
}


.lg-input {
    width: 12rem;
}

.lg-input2 {
    width: 10rem;
}

.input {
    width: 8rem;
}

#home-search-form {
    width: 72%; /*fit-content/70%*/
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border: 2px solid black;
    border-radius: 0.2rem;
    background-color: white;
    text-align: left;
    font-size:larger;
    font-weight: 600;
    transition: height 0.3s ease;
    box-shadow: -30px 30px 50px -12px rgba(0,0,0,0.75);
}

#home-search label, #side-search label{
    font-weight: 500 !important;
}

#home-search-form.expanded {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#home-search-form .row {
    justify-content: justify;
    margin-top: 10px;
}

#home-search-lower, #side-search-lower {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-top: 1rem !important;
}

#home-search-lower .col-6 {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

#home-search-lower p {
    font-size: larger;
    font-weight: 400 !important;
    min-width: fit-content;
}

#home-search-lower button, #side-search-lower button {
    background-color: red !important;
    color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: larger;
    margin-left: 4rem;
    height: 2.5rem;
    padding-top: 0;
    transition: 0.5s;
}

#home-search-lower button:hover, #side-search-lower button:hover {
    box-shadow: 6px 6px 12px -5px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.collapse-form {
    display: none;
}

.input-groups{
    display: flex;
}

.input-group{
    border: 2px solid black;
    width: fit-content !important;
    height: 2rem;
    border-radius: 0.2rem;
}

.input-group input, .input-group-f input {
    border: none !important;
    border-right: 2px solid black !important;
    height: 1.8rem !important;
    border-radius: 0.2rem 0 0 0.2rem !important;
    text-align: right !important;
}

.input-group-append {
    margin-left: 0.2rem !important;
    margin-right: 0.2rem;
}

.ts-wrapper, .ts-control{
    height: 2rem !important;
    background-color: none !important;
}

.ts-wrapper{
    padding: 0 !important;
    width: 8rem !important;
}

.ts-control{
    background-color: none !important;
    line-height: 1.5 !important;
    font-size: 1rem !important;
    border: 2px solid black !important;
}

.full .ts-control, .ts-control, .ts-wrapper.single.input-active .ts-control{
    background-color: none !important;
}

.ts-control, .ts-wrapper.single.input-active .ts-control{
    background-color: none !important;
}

.ts-control .item{
    padding: 0 !important;
    font-size: larger !important;
    margin-top: -0.5rem !important;
}

.ts-dropdown{
    font-size: 15px !important;
    line-height: 25px !important;
}

#brand-ts-control{
    margin-top: -0.6rem !important;
    font-size: large !important;
}

.w-120{
    width: 120%;
}

#brand{
    padding: 0;
    border: 2px solid black;
}

@media (max-width: 990px){
    #home-search-form {
        width: 95%;
    }
    #home-search-lower {
        margin-right: 1rem;
    }
    #home-search-lower button {
        margin-left: 2rem;
    }
}

