#site-cookies {
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    right: 3rem !important;
    bottom: 3rem !important;
    background-color: #0096D6 !important;
    color: white !important;
    border-radius: 25%;
    z-index: 9999;
}