#login-form, #registration-form, #contact, #tac, #dp{
    width: 25rem;
    margin: 4rem auto;
    background-color: #DEDFE1;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 0.2rem;
    box-shadow: -30px 30px 50px -12px rgba(0,0,0,0.75);
    font-family: "Kanit", serif !important;
}

#login-form a, #registration-form a, #contact a{
    color: black !important;
    transition: 0.3s;
}

#login-form a:hover, #registration-form a:hover{
    color: #696868 !important;
    transition: 0.3s;
}

#login-form .show-password, #registration-form .show-password{
    text-align: left;
}

#login-form .input, #registration-form .input{
    border: 2px solid black;
    border-radius: 0.2rem;
    height: 2rem;
}

#login-form button, #registration-form button{
    background-color: #0096D6 !important;
    color: white;
    border: none;
    border-bottom: 0.2rem solid #005d88;
    border-radius: 0.8rem;
    font-size: larger;
    height: 2.5rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    transition: 0.3s;
}

#login-form button:hover, #registration-form button:hover{
    margin-top: -0.3rem;
    height: 2.8rem;
    border-bottom: 0.4rem solid #005d88;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
}

#contact {
    min-width: fit-content;
    font-size: larger;
}

#tac, #dp {
    width: 80% !important;
    font-size: larger;
    text-align: start;
}

.figyelmeztetes {
    margin-top: 5rem !important;
}

.figyelmeztetes .modal-content{
    color: white !important;
    background-color: #bb0000 !important;
    border: 1px solid white;
}

.figyelmeztetes .modal-content button {
    transition: 0.5s;
}

.figyelmeztetes .modal-content button:hover {
    color: white !important;
    background-color: #bb0000 !important;
    box-shadow: white 0 0 3px 3px;
    transition: 0.5s;
}