#search-list{
    background-image: url('../Images/photo4.jpg');
    background-position-y: 40%;
    background-position-x: 25%;
    height: 100%;
    min-height: 80rem;
    width: 70%;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: 1s;
    padding-bottom: 10rem;
    box-shadow: 40px 0px 20px -30px rgba(0,0,0,1) inset,
    -40px 0px 30px -30px rgba(0,0,0,1) inset;
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    text-align: center !important;
    background-color: #DEDFE1;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0;
    border: 1px solid black;
    transition: background-color .3s;
}

.pagination li {
    margin: 0 0.25rem;
}

.pagination a:hover, .pagination .selected {
    background-color: #0096D6 !important;
}

.pagination a:disabled {
    cursor: not-allowed !important;
}

body{
    overflow-x: hidden !important;
}

#side-search {
    width: 0rem !important;
    height: 0rem !important;
}

.form-collapsed {
    pointer-events: none;
    transform: translateX(-400px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
.form-expanded {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1s ease;
  }

#side-search-form.collapsed {
    transform: translateX(-60rem); /* Slightly more than the width to ensure it's completely hidden */
}
  
#side-search-form.expanded {
    transform: translateX(0);
}

#side-search-button{
    position: absolute;
    z-index: 2 !important;
    left: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    background-color: #DEDFE1 !important;
    color: black;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: larger;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-top: 0;

}

#side-search-button:hover {
    box-shadow: 6px 6px 12px -5px rgba(0,0,0,0.75);
    transition: 0.5s;
}   

#side-search {
    position: absolute; /* Lebegő pozíció */
    z-index: 4 !important;
    width: 22rem !important; /* Szélesség */
}

#side-search-form {
    display: block;
    width: 21rem;
    height: min-content;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border: 2px solid black;
    border-radius: 0.2rem;
    background-color: #DEDFE1;
    text-align: left;
    font-size: medium;
    font-weight: 600;
    box-shadow: -30px 30px 50px -12px rgba(0,0,0,0.75);
    z-index: 3 !important;
    font-family: "Kanit", serif !important; 
    transform: translate(0, 0);
    transition: 1s;
}

#side-search-closing {
    visibility: hidden;
    display: absolute;
    margin-right: -1rem;
    width: fit-content;
    height: fit-content;
    padding: 0;
    font-size: larger;
    border: none;
}

#side-search-lower {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem !important;
}

#side-search-lower .btn{
    width: 100%;
    margin-left: 0 !important;
    font-size: x-large;
}

#side-search-form .lg-input{
    width: 100%;
}

#side-search-form .input-group-f, #side-search-form .form-select-f{
    margin-right: auto !important;
}

#side-search-form .input-group{
    width: 50% !important;
}

#side-search-form .input-group-f, #side-search-form .form-select-f{
    margin-right: 1.2rem !important;
}

#side-search-form .sm-input{
    width: 4.6rem !important;
}

.col-12{
    width: 100% !important;
}

.w-100{
    width: 100% !important;
}

#side-search label{
    font-weight: bold !important;
}

#side-search span{
    font-weight: 600 !important;
    font-size: larger;
}

#side-search .sm-input-f2, #side-search .sm-input2 {
    width: 5.8rem !important;
}

#side-search .sm-input-f3, #side-search .sm-input3 {
    width: 5.6rem !important;
}

#side-search #side-search-form .sm-input {
    width: 5rem !important;
}

#side-search input{
    background-color: none !important;
}

#side-search .ts-wrapper{
    width: 100% !important;
}

@media (max-width: 1400px) {
    #side-search-closing {
        visibility: visible;
    }
}

@media (max-width: 990px) {
    #side-search {
        position: absolute; /* Lebegő pozíció */
        width: 100%;
        height: auto;
    }

    #side-search-form {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: x-large;
    }

    .i-g-w100 {
        width: 100% !important;
    }

    #side-search-form input, #side-search-form select, #side-search-form .ts-wrapper, #side-search-form .ts-control, #side-search-form .input-group {
        height: 3rem !important;
    }

    #side-search-form .input-groups {
        max-width: 100% !important;
    }

    #side-search-form .input-groups input {
        height: 2.7rem !important;
    }

    #side-search-form .item, #side-search-form .option {
        font-size: x-large !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    #side-search-closing, #side-search-button {
        font-size: xx-large;
        width: 3rem;
        height: 3rem;
    }

    #side-search .sm-input-f2, #side-search .sm-input2 {
        width: 65% !important;
    }
    
    #side-search .sm-input-f3, #side-search .sm-input3 {
        width: 65% !important;
    }
    
    #side-search #side-search-form .sm-input {
        width: 65% !important;
    }
    
    #side-search #side-search-form .input-group-append {
        font-size: large;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media (max-width: 1300px){
    #search-list{
        width: 75%;
        transition: 1s;
    }
    
}

@media (max-width: 1200px){
    #search-list{
        width: 85%;
        transition: 1s;
    }
}

@media (max-width: 990px){
    #search-list{
        width: 95%;
        transition: 1s;
    }

}