#search-list{
    background-image: url('../Images/photo4.jpg');
    background-position-y: 40%;
    background-position-x: 25%;
    height: 100%;
    min-height: 80rem;
    width: 70%;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: 1s;
    padding-bottom: 10rem;
    box-shadow: 40px 0px 20px -30px rgba(0,0,0,1) inset,
    -40px 0px 30px -30px rgba(0,0,0,1) inset;
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    text-align: center !important;
    background-color: #DEDFE1;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 4px;
    border: 1px solid black;
    transition: background-color .3s;
}

.pagination a:hover, .pagination .selected {
    background-color: #0096D6 !important;
}

.pagination a:disabled {
    cursor: not-allowed !important;
}

@media (max-width: 1300px){
    #search-list{
        width: 75%;
        transition: 1s;
    }
    
}

@media (max-width: 1200px){
    #search-list{
        width: 85%;
        transition: 1s;
    }
}

@media (max-width: 990px){
    #search-list{
        width: 95%;
        transition: 1s;
    }

}